.welcome-header {
  width: 80%;
  padding: 10px 0;
  background: teal;
  color: #ebebeb;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 8px;
}